@page "/"

<span class="oi oi-check" aria-hidden="true"></span>
<span>Latest backup : @latestBackup</span>
<br />
<br />
<p>How often would you like your UI backed up?</p>
<select @bind=@selectedFrequency>
    @foreach (var freq in frequencys)
    {
        <option value=@freq>@freq</option>
    }
</select>
<br />
<br />
<p>Where would you like it backed up to?</p>
<select @bind=@selectedLocation>
    @foreach (var loc in locations)
    {
        <option value=@loc>@loc</option>
    }
</select>
<br />
<br />
<button @onclick="Save">Save</button>
@*<SurveyPrompt Title="How is Blazor working for you?" />
*@

@code {
    private string selectedFrequency;
    private List<string> frequencys = new List<string>
    {
        "Once per day",
        "Once per week",
        "Once per month"
    };

    private string selectedLocation;
    private List<string> locations = new List<string>
    {
        "Local Folder",
        "Google Drive",
        "Both"
    };

    private DateTime latestBackup = DateTime.Now;

    private void Save()
    {

    }
}